# Cached Files
__pycache__
.coverage
.pytest_cache/

# VSCode IDE
.vscode/

# Pycharm Settings
.idea
.DS_Store
*.xml
configfiles/urlconfig.py

# Script to Set Env vars
/env.bat

# Python virtual Environment
venv/
venv1/

# Vendored packages for application
vendor/



