{% extends "base.html" %}

{% block title %}Search {% endblock title %}


{% block page_header %}

    Search

{% endblock page_header %}

{% block content %}

    <div class="mainContent">
        <main class="page__main">
            <h1>Search by</h1>
            <form name="searchSelection" method="POST">
                <fieldset class="fieldset">
                    <legend class="fieldset__legend"></legend>
                    <p class="checkboxes__label">Select all that apply</p>
                    <span class="checkboxes__items">
                        <p class="checkboxes__item">
                            <span class="checkbox">
                                <input type="checkbox" name="reference" class="checkbox__input js-checkbox" checked>
                                <label id="reference-label" class="checkbox__label" for="reference">Reference</label>
                            </span>
                        </p>
                        <br>
                        <p class="checkboxes__item">
                            <span class="checkbox">
                                <input type="checkbox" name="period" class="checkbox__input js-checkbox" checked>
                                <label id="period-label" class="checkbox__label" for="period">Period</label>
                            </span>
                        </p>
                        <br>
                        <p class="checkboxes__item">
                            <span class="checkbox">
                                <input type="checkbox" name="survey" class="checkbox__input js-checkbox" checked>
                                <label id="inq-label" class="checkbox__label" for="inq">Survey</label>
                            </span>
                        </p>
                        <br>
                        <p class="checkboxes__item">
                            <span class="checkbox">
                                <input type="checkbox" name="status" class="checkbox__input js-checkbox">
                                <label id="status-label" class="checkbox__label" for="status">Status</label>
                            </span>
                        </p>
                        <br>
                        <p class="checkboxes__item">
                            <span class="checkbox">
                                <input type="checkbox" name="formid" class="checkbox__input js-checkbox">
                                <label id="formid-label" class="checkbox__label" for="formid">Form Id</label>
                            </span>
                        </p>
                        <br>
                        <br>
                        <button class="btn btn--small" type="submit"><span class="btn__inner">Search</span></button>
                    </span>
                    <br>
                    <br>
                </fieldset>
            </form>
        </main>
    </div>

{% endblock content %}