<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h1>Search by</h1>
<form name="searchSelection" method="post">
<input type="checkbox" name="reference" id="reference" checked> RU ref </input><br>
<input type="checkbox" name="period" id="period" checked> Period </input><br>
<input type="checkbox" name="survey" id="inq" checked> Inquiry Code </input><br>
<input type="checkbox" name="status" id="status"> Status </input><br>
<input type="checkbox" name="receiptdate" id="receiptDate"> Receipt Date </input><br>
<input type="checkbox" name="formtype" id="formType"> Form Type </input><br>
<input type="checkbox" name="formid" id="formID"> Form ID </input>
    <p><input type=submit value="GO!"></p>
</form>
</body>
</html>