{% extends "base.html" %}

{% block title %}Internal server error {% endblock title %}


{% block page_header %}

<h1 class="main_heading">Login</h1>

{% endblock page_header %}

<br>
{% block content %}
<section>
    <div style="margin-bottom: 2em; margin-top: 2em">
        <div style="margin: auto; width: 50%;">
            <form action="" method="POST" class="form-body form-login">
                <input type="hidden" name="action" value="handshake">
                <div class="control-group" style="margin: auto; width: 50%;">
                    <input type="text" name="Username" placeholder="Username"
                           class="input input--text input-type__input"
                           style="width:400px">
                    <br>
                    <input type="password" name="Password" placeholder="Password"
                           class="input input--text input-type__input"
                           style="width:400px">
                </div>
                <br>
                <div class="row-fluid" style="margin: auto; width: 50%;">
                    <button type="submit" class="btn btn--small" value="Login">Login</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}