{% extends "./base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block page_header %}
    Search
{% endblock page_header %}

{% block content %}

    <section>
        <div class="phase-banner">
            <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap">
                <div class="field-group searchTop">
                    <form method="post">
                        {% from "RenderForms.html" import render_field %}

                            {% for i in fields.keys() %}
                                <p class="field">
                                    <span class="input-type">
                                    <span class="input-type__inner">
                                    {{ render_field(fields[i]) }}
                                    </span>
                                </span>
                                </p>
                            {% endfor %}

                        <button class="btn btn--small" type="submit"><span class="btn__inner">Search</span></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="mainContent">
            <div class="table-scrollable table-scrollable--on">
                <div class="table-scrollable__content" tabindex="0" role="region" aria-label="Scrollable table">
                    <table class="table" id="ResultsTable">
                        <thead class="table__head capitalisation">
                            
                            <tr class="table__row">
                                <th class="" id=""></th><!--Blank column for view form button-->
                                <!--Render each column name -->
                                <th class="table__header" id="reference">Reference</th>
                                <th class="table__header" id="period">Period</th>
                                <th class="table__header" id="survey">Survey</th>
                                <th class="table__header" id="name">Name</th>
                                <th class="table__header" id="form_id">Form ID</th>
                                <th class="table__header" id="status">Status</th>
                                <th class="table__header" id="sic">SIC</th>
                                <th class="table__header" id="employment">Employment</th>
                                <th class="table__header" id="turnover">Turnover</th>
                            </tr>
 
                        </thead>

                        <tbody class="table__body" id="search_results_body">
                        <!-- for each record, render each data value -->
                        {% for record in records %}

                            <tr class="table__row">
                                <td>
                                    <a href="{{ record['survey'] }}/{{ record['period'] }}/{{ record['reference'] }}/viewform" target="_blank">
                                        <button type="submit" class="btn btn--small buttonWidth">
                                            <span class="btn__inner">View Form</span>
                                        </button>
                                    </a>
                                </td>
                                <!-- Use .values() method to get values from each row dict -->
                                <td class="table__cell">{{ record['reference'] }}</td>
                                <td class="table__cell">{{ record['period'] }}</td>
                                <td class="table__cell">{{ record['survey'] }}</td>
                                <td class="table__cell">{{ record['referencename'] }}</td>
                                <td class="table__cell">{{ record['formid'] }}</td>
                                <td class="table__cell">{{ record['status'] }}</td>
                                <td class="table__cell">{{ record['frozensic'] }}</td>
                                <td class="table__cell">{{ record['frozenemployment'] }}</td>
                                <td class="table__cell">{{ record['frozenturnover'] }}</td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <h1>{{ message }}</h1>

        <div id="button_div">
            <button class="btn btn--small buttonWidth" type="submit" id="prev_button" method="POST" style="display: none">
                <span class="btn__inner">Previous</span>
            </button>

            <button class="btn btn--small buttonWidth" type="submit" id="next_button" form_id="next_form" method="POST" style="display:none">
                <span class="btn__inner">Next</span>
            </button>

        </div>
    </section>
    <br>
    <br>
    <br>

    <script>
        var rows = document.getElementById("ResultsTable");
        if (rows.length === 0) {
            document.getElementById("hide_panel").style.display = "none";
        }
    </script>

    <script>
        addButtons()
        function addButtons(data=false){
            console.log(data)
            document.getElementById("next_button").style.display = "None";
            document.getElementById("prev_button").style.display = "None";

        if (data == false){
        let pageInfo = {{ links|tojson }};
        console.log(pageInfo)
        if (pageInfo['hasNextPage'] == true){
            document.getElementById("next_button").style.display = "";
           }
        if (pageInfo["hasPreviousPage"] == true){
            document.getElementById("prev_button").style.display = "";
           }
        } else{
            var pageInfo = data;
            console.log(pageInfo['endCursor'])
        if (pageInfo['hasNextPage'] == true){
            document.getElementById("next_button").style.display = "";
           }
        if (pageInfo["hasPreviousPage"] == true){
            document.getElementById("prev_button").style.display = "";
           }
        }
        }
    </script>

    <script>
        var pageData = null;

        function nextPage(){
            console.log(getCursor(whichCursor="next", pagingInfo=pageData))
            $.ajax({
                type: 'POST',
                url: "/contributor_search/Contributor/next",
                contentType: "application/json",
                data: JSON.stringify({cursor: getCursor(whichCursor="next", pagingInfo=pageData), "search_params": "{{ parameters }}"})
            }).done(updateResultsTable);
        }
        $('#next_button').on('click', nextPage)
        function prevPage(){
            console.log(getCursor(whichCursor="next", pagingInfo=pageData))
            $.ajax({
                type: 'POST',
                url: "/contributor_search/Contributor/previous",
                contentType: "application/json",
                data: JSON.stringify({cursor: getCursor(whichCursor="prev", pagingInfo=pageData), "search_params": "{{ parameters }}"})
            }).done(updateResultsTable);
        }
        $('#prev_button').on('click', prevPage)

        function getCursor(whichCursor=false, pagingInfo=null){
            if(pagingInfo == null){
                var pageInfo = {{ links|tojson }};
            }
            else{
                var pageInfo = pageData
            }
                
            if (whichCursor == "next"){
                return pageInfo["endCursor"];
            }
            else if (whichCursor == "prev"){
                return pageInfo["startCursor"];
            }
            else if (whichCursor == false){
                return null;
            }
        }

        function updateResultsTable(data){
            console.log("update called")
            //var headers = getTableHeaders()
            var headers = ["reference", "period", "survey", "referencename", "formid", "status", "frozensic", "frozenemployment", "frozenturnover"];
            var some = data;
            $('#search_results_body').empty()
            for (var i=0; i < some.data.length; i++){
                row = some.data[i]
                console.log("Data: " + some)
                var link = "/contributor_search/Contributor/" + row.survey + "/" + row.period + "/" + row.reference + "/viewform";
                var newRow = `<tr class=\"table__row\"> <td> <a target= \"_blank\" href=\"${link}\"> <button type=\"submit\" class=\"btn btn--small buttonWidth\">  <span class=\"btn__inner\">View Form </span> </button></a></td>`
                for (var j=0; j < headers.length; j++){
                    var key =  `${headers[j]}`
                    newRow += `<td class=\"table__cell\">${row[key.replace(/ /g,'')]}</td>`
                }
                newRow += `</tr>`
                $('#ResultsTable').append(newRow);
            }
            pageData = data.links
            addButtons(data.links)
            console.log(data);
        }

        function getTableHeaders(){
            var headers = Array();
            $("table tr th").each(function(i, v){
                headers[i] = $(this).text();
            }
            )
            return headers;
        }
    </script>

{% endblock content %}
