{% extends "./base.html" %}

{% block title %}Dashboard{% endblock title %}



{% block page_header %}
<h1 class="jupiter header__title">Search</h1>
{% endblock page_header %}


{% block content %}

<section>
	<div id="lockedInfo" style="color:red;display:none">This form is currently checked out to</div>


	<div class="phase-banner">
		<div class="">
			<div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap">

				<div class="field-group searchTop">
					<form method="post">
						{% from "RenderForms.html" import render_field %}
						{% for i in fields.keys() %}
						<p class="field">
							<span class="input-type">
								<span class="input-type__inner">

									{{ render_field(fields[i]) }}
						</p>
						</span>
						</span>
						{% endfor %}
						<button class="btn btn--small" type="submit"><span class="btn__inner">Search</span></button>
					</form>
				</div>
			</div>
		</div>

	</div>


	<div>
		<div class="">
			<div class="table-scrollable table-scrollable--on">
				<div class="table-scrollable__content" tabindex="0" role="region"
					aria-label="Scrollable table. There are 7 columns in this table. Some of the table may be off screen. Scroll or drag horizontally to bring into view. ">
					<table class="table " id="ResultsTable">

						<thead class="table__head">
							<tr class="table__row">
								<!--Blank column for view form button-->
								<!--Render each column name -->
								{% for column in header %}
								<th scope="col" class="table__header "> {{ column }}
									{% endfor %}
							</tr>
							</tr>
						</thead>
						<tbody class="table__body">

							<!-- for each record, render each data value -->
							{% for record in records %}

							<tr class="table__row">
								<td><a href="{{ record['survey'] }}/{{ record['period'] }}/{{ record['reference'] }}/viewform"
										target="_blank">
										<button type="button" class="btn btn--secondary btn--small">
											<span class="btn__inner">View Form</span>
										</button>

										<!-- Use .values() method to get values from each row dict -->
										{% for element in record.values() %}
								<td class="table__cell">{{ element }}</td>
								{% endfor %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>


		</div>

		</div>
		<h1>{{ message }}</h1>
	</div>
</section>

<br>

<nav class="pagination " arial-label="Page {{ current_page }} of {{ last_page }}">
		<div class="pagination__position">Page {{ current_page }} of {{ last_page }}</div>
		<ul class="pagination__items">
				{% if first_url %}
		  <li class="pagination__item pagination__item--first">
			<a href="{{ first_url }}" class="pagination__link" rel="first" aria-label="Go to the first page">First</a>
		  </li>
		  {% endif %}
		  {% if prev_url %}
		  <li class="pagination__item--previous">
			<a href="{{ prev_url }}" class="pagination__link" aria-label="Go to the previous page"> << </a>
		  </li>
		  {% endif %}

		  {% if next_url %}
		  <li class="pagination__item--next">
			<a href="{{ next_url }}" class="pagination__link" aria-label="Go to the next page">>></a>
		  </li>
		  {% endif %}
		  {% if last_url %}
			  <li class="pagination__item pagination__item--last">
				<a href="{{ last_url }}" class="pagination__link" rel="last" aria-label="Go to the last page">Last</a>
			  </li>
			  {% endif %}
			</ul>
		  </nav>



<script>
	var statusMessage = "{{ status_message }}"
	console.log(statusMessage)
	if (statusMessage == "&#34;&#34;") { }
	else {
		//alert(statusMessage);
	}
</script>

<script>
	var rows = document.getElementById("ResultsTable");
	if (rows.length === 0) {
		document.getElementById("hide_panel").style.display = "none";
	}
</script>

{% endblock content %}