.searchTop {
    padding-left: 22px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.mainContent {
    padding-left: 22px;
    padding-right: 16px;
}

.capitalisation{
    text-transform: capitalize;
}

.buttonWidth{
    width: 108px;
    padding-bottom: 2px;
    padding-top: 1px;
}
