.searchTop {
    padding-left: 22px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.mainContent {
    padding-left: 22px;
    padding-right: 16px;
}

.capitalisation{
    text-transform: capitalize;
}

.buttonWidth{
    width: 108px;
    padding-bottom: 2px;
    padding-top: 1px;
}

.checkboxAlignment{
    vertical-align: middle;
    top: 32px;
    bottom: -1px;
    position: relative;
}

.checkboxTextAlignment{
    width: auto;

}

.checkboxItemHide{
    height: 0px;
    width: 0px;
    display: none;
}

.textAlignment{
    vertical-align: middle;
    top: 25px;
    bottom: -1px;
    position: relative;
}

.overrideBoxLength{
    width: 0%;
}

.paddingSection{
    padding-top: 20px;
}

.untriggeredTextBoxAlignment{
    padding-left: 100px;
}