.icon {
  font-size: 10px;
}

.icon:before {
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../svg/sprite.svg");
  background-repeat: no-repeat;
  background-size: 100em 597.7em;
}

.no-svg .icon:before {
  background-image: url("../svg/sprite.png");
}

.icon.logo:before {
  background-position: 0em -503em;
  width: 23.7em;
  height: 4.7em;
}

.icon.ons-logo:before {
  background-position: 0em -507.7em;
  width: 59.529999999999994em;
  height: 11.629999999999999em;
}