{% extends "base.html" %}

{% block title %}Contributor Details{% endblock title %}


{% block page_header %}

    <h1 class="jupiter main_heading">Take-On</h1>

{% endblock page_header %}

<br>
{% block content %}
    <dl class="metadata metadata__list grid grid--gutterless u-cf u-mb-s" title="Form details" aria-label="Form details">
        <h1>{{ contributor_details['referencename'] }}</h1>
        <dt class="metadata__term grid__col col-2@m u-mt-no">Reference:</dt>
        <dd id="ref" class="metadata__value grid__col col-10@m u-mt-no">{{ contributor_details['reference'] }}</dd>
        <dt class="metadata__term grid__col col-2@m u-mt-no">Period:</dt>
        <dd id="period" class="metadata__value grid__col col-10@m u-mt-no">{{ contributor_details['period'] }}</dd>
        <dt class="metadata__term grid__col col-2@m u-mt-no">Survey:</dt>
        <dd id="survey" class="metadata__value grid__col col-10@m u-mt-no">{{ contributor_details['survey'] }}</dd>
    </dl>
    <p class="u-bb u-pb-s">
        <span title="Status " class="{{ status_colour }}">{{ contributor_details['status'] }}</span>
        
        
   <br>
    <div class="mainContent">
        <div class="grid">
            <div class="grid__col col-6@m paddingSection">
                <form method="post" id="responseForm">
                    {% for datum in data['view_form_responses'] %}
                        <div>
                            {{ datum["displayquestionnumber"] }}<strong> {{ datum["displaytext"] }}</strong>
                            <br>
                            <input name="{{ datum['questioncode'] }}"
                                    value="{{ datum['response'] }}" type="number"
                                    class="input input--text input-type__input">
                            <span style="color:red">{{ datum["questioncode"] }}</span>
                            <br>
                            <br>
                        </div>
                    {% endfor %}
                </form>
            </div>

                <div class="grid__col col-6@m paddingSection">
                    <div id="accordion" class="accordion">
                        <div class="wrapper">
                            <div class="response-split">
                                <form method="POST">
                                    {% if validation['validation_outputs']|length > 0 %}
                                <fieldset class="fieldset">
                                    <legend class="fieldset__legend">What Validations would you like to override?
                                    </legend>
                                    <p class="checkboxes__label">Select all that apply</p>
                                    <span class="checkboxes__items">
                                        <p class="checkboxes__item">
                                            <span class="checkbox ">
                                                <input type="checkbox" id="select-all" class="checkbox__input js-checkbox " value="Select All" name="select-all-checkbox" onclick="select_all(this)">
                                                <label id="select_all" class="checkbox__label" for="select-all">
                                                    <strong>Select All</strong>
                                                </label>
                                            </span>
                                        </p>
                                        <br>
                                    {% for output in validation['validation_outputs'] %}
                                        {% if output['overridden'] == True %}
                                        <p class="checkboxes__item">
                                            <span class="checkbox ">
                                                <input type="checkbox" id="{{output['validationoutputid']}}" class="checkbox__input js-checkbox " value="{{output['validationoutputid']}}" name="override-checkbox" checked>
                                                <label id="{{output['validationoutputid']}}-label" class="checkbox__label " for="{{output['validationoutputid']}}">
                                                    <strong>{{ output["primaryquestion"] }}</strong></br>
                                                    <strong>{{ output["name"] }}</strong></br>
                                                    <strong>Validation ID: {{ output["validationid"] }}</b></br>
                                                    <strong>Formula: {{ output["formula"] }}</strong></br>
                                                    <strong>Triggered: {{ output["triggered"] }}</strong></br>
                                                </label>
                                            </span>
                                        </p>
                                        <br>
                                        {% else %}
                                            <p class="checkboxes__item">
                                                <span class="checkbox ">
                                                    <input type="checkbox" id="{{output['validationoutputid']}}" class="checkbox__input js-checkbox " value="{{output['validationoutputid']}}" name="override-checkbox">
                                                    <label id="{{output['validationoutputid']}}-label" class="checkbox__label " for="{{output['validationoutputid']}}">
                                                        <strong>{{ output["primaryquestion"] }}</strong></br>
                                                        <strong>{{ output["name"] }}</strong></br>
                                                        <strong>Validation ID: {{ output["validationid"] }}</b></br>
                                                        <strong>Formula: {{ output["formula"] }}</b></br>
                                                        <strong>Triggered: {{ output["triggered"] }}</b></br>
                                                    </label>
                                                </span>
                                            </p>
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                    </span>
                                </fieldset>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mainContent">
    <form method="POST" action="">

        <button class="btn btn--small" type="submit" id="saveFormButton" value="saveForm" name="action">
            <span class="btn__inner">Save</span>
        </button>

        <button class="btn btn--small" type="submit" class="btn btn-group__btn btn--loader js-loader js-submit-btn" value='validate' name='action'>
            <span class="btn__inner">Validate</span>
        </button>

        <button class="btn btn--small" type="submit" class="btn btn-group__btn btn--loader js-loader js-submit-btn" value='override' name='action' id='override_button'>
            <span class="btn__inner">Override</span>
        </button>

        <button class="btn btn--small" type="submit" value="close this window" onclick="self.close()">
            <span class="btn__inner">Exit</span>
        </button>
    </form>
    </div>

    <br>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        var override_button = document.getElementById("override_button")
        override_button.addEventListener("click", function()
        {var checkboxes = document.getElementsByName("override-checkbox");
           var reference  = document.getElementById("ref").textContent;
           var period     = document.getElementById("period").textContent;
           var survey     = document.getElementById("survey").textContent;
           var user       = '{{ user }}';
           var checkboxes_checked = []
           var checkboxes_output  = {}
           for(var i = 0; i < checkboxes.length; i++) {
                if(checkboxes[i].checked) {
                    var checkbox = {}
                    checkbox["validationoutputid"] = checkboxes[i].id
                    checkbox["override"]           = true
                    checkbox["user"]               = user
                    checkboxes_checked.push(checkbox)
                } else {
                    var checkbox = {}
                    checkbox["validationoutputid"] = checkboxes[i].id
                    checkbox["override"]           = false
                    checkbox["user"]               = user
                    checkboxes_checked.push(checkbox)
                }
           }
            checkboxes_output['reference']          = reference
            checkboxes_output['period']             = period
            checkboxes_output['survey']             = survey
            checkboxes_output['validation_outputs'] = checkboxes_checked
            var js_data = JSON.stringify(checkboxes_output)
            $.ajax({
               url: 'override-validations',
               type: 'post',
               contentType: 'application/json',
               dataType: 'json',
               data: js_data,
               async: false
           })
           })
           
    </script>

    <script>
        function select_all(source) {
            checkboxes = document.getElementsByName("override-checkbox");
            for(var i=0; i < checkboxes.length; i++){
                checkboxes[i].checked = source.checked;
            }
        }
    </script>


    <script>
        var statusMessage = "{{ status_message }}"
        console.log(statusMessage)
        if (statusMessage == "&#34;&#34;"){
        }
        else {
            alert(statusMessage);
        }
    </script>

    <script>
        var saveFormButton = document.getElementById("saveFormButton")
        saveFormButton.addEventListener("click", function()
        {response_form = document.getElementById("responseForm");
        console.log("Response Form = " + response_form)
        var reference  = document.getElementById("ref").textContent;
        var period     = document.getElementById("period").textContent;
        var survey     = document.getElementById("survey").textContent;
        var contributor_data = {}
        var edited_response_data = []
        contributor_data['reference'] = reference
        contributor_data['period'] = period
        contributor_data['survey'] = survey
        for (var i = 0; i < response_form.length; i++){
            var question_response = {}
            console.log(response_form.elements[i].name);
            console.log(response_form.elements[i].value);
            question_number = response_form.elements[i].name
            value = response_form.elements[i].value
            question_response['question'] = question_number
            question_response['response'] = value
            question_response['instance'] = 0
            edited_response_data.push(question_response)
            }
            contributor_data['responses'] = edited_response_data
        var js_data = JSON.stringify(contributor_data)
        $.ajax({
            url: 'save-responses',
            type: 'post',
            contentType: 'application/json',
            dataType: 'json',
            data: js_data,
            async: false
        })
        })
    </script>

{% endblock content %}