{% extends "base.html" %}
​
{% block title %}Contributor Details{% endblock title %}
​
​
{% block page_header %}
​
    <h1 class="jupiter main_heading">Take-On</h1>
​
{% endblock page_header %}
​
<br>
{% block content %}
​
​<div class="page__container container ">
    <div class="page__container container ">
        <div class="grid">
            <div class="grid__col col-8@m ">
    <br>
    <dl class="metadata metadata__list grid grid--gutterless u-cf u-mb-s" title="Form details" aria-label="Form details">
        <h1>{{ contributor_details['referencename'] }}</h1>
        <dt class="metadata__term grid__col col-2@m u-mt-no">Reference:</dt>
        <dd class="metadata__value grid__col col-10@m u-mt-no">{{ contributor_details['reference'] }}</dd>
        <dt class="metadata__term grid__col col-2@m u-mt-no">Survey:</dt>
        <dd class="metadata__value grid__col col-10@m u-mt-no">{{ contributor_details['surveyBySurvey']['description'] }} {{ contributor_details['survey'] }}</dd>
        <dt class="metadata__term grid__col col-2@m u-mt-no">Period:</dt>
        <dd class="metadata__value grid__col col-10@m u-mt-no">{{ contributor_details['period'] }}</dd>
    </dl>
​
    <p class="u-bb u-pb-s">
        <span title="Status " class="{{ status_colour }}">{{ contributor_details['status'] }}</span>
    </p>
​
    <form method="post" id="responseForm">
        
        {% for datum in data['form_validation_outputs'] %}
        
            {% if datum['validation_info']|length > 0 %}
​
            <div class="panel {{ datum['panel'] }} panel--simple">
                <div class="panel__body">
                    {% for output in datum['validation_info'] %}
​
                        {% if output['overridden'] == True %}
​
                        <fieldset>
                            <legend class="u-vh"></legend>
                            <span class="checkbox js-password-toggle-wrap checkbox--toggle u-mt-no u-mb-s">
                                <input type="checkbox" id="{{output['validationoutputid']}}" class="checkbox__input js-checkbox js-password-toggle to-u-bg-w" value="{{output['validationoutputid']}}" name="override-checkbox" checked>
                                <label id="{{output['validationoutputid']}}" class="checkbox__label to-u-bg " for="{{output['validationoutputid']}}">Override {{ output["validationmessage"] }}</label>
                        </fieldset>
                        <br>
​
                        {% else %}
​
                        <fieldset>
                            <legend class="u-vh"></legend>
                            <p class="panel__error u-mb-no">
                                <strong>{{ output["validationmessage"] }}</strong>
                            </p>
                            <span class="checkbox js-password-toggle-wrap checkbox--toggle u-mt-no u-mb-s">
                                <input type="checkbox" id="{{output['validationoutputid']}}" class="checkbox__input js-checkbox js-password-toggle to-u-bg-w " value="{{output['validationoutputid']}}" name="override-checkbox">
                                <label id="{{output['validationoutputid']}}" class="checkbox__label to-u-bg " for="{{output['validationoutputid']}}">Override</label>
                        </fieldset>
                        <br>
​
                        {% endif %}
​
                    {% endfor %}
​
​
                    <strong>{{ datum["displayquestionnumber"] }}</strong> <strong> {{ datum["displaytext"] }}</strong>
                    <br>
                    <br>
                    <input name="{{ datum['questioncode'] }}" value="{{ datum['response'] }}" type="number" class="input input--text input-type__input input--w-10">
                </div>
            </div>
​
            {% else %}
​
            <br>
            <strong>{{ datum["displayquestionnumber"] }}</strong> <strong> {{ datum["displaytext"] }}</strong>
            <br>
            <br>
            <input name="{{ datum['questioncode'] }}" value="{{ datum['response'] }}" type="number" class="input input--text input-type__input input--w-10">
            <br>
            {% endif %}
​
        {% endfor %}
​
        <hr>
​
        <fieldset class="fieldset">
            <legend class="fieldset__legend"></legend>
            <p class="checkboxes__label"></p>
            <span class="checkboxes__items">
                <p class="checkboxes__item">
                    <span class="checkbox input--w-10">
                        <input type="checkbox" id="select-all" class="checkbox__input js-checkbox " value="Select All" name="select-all-checkbox" onclick="select_all(this)">
                        <label id="select_all" class="checkbox__label " for="select-all">Override all</label>
                    </span>
                </p>
            </span>
        </fieldset>
        <br>
        <br>
​
        <button class="btn btn--small" type="submit" id="saveFormButton" value="saveForm" name="action">
            <span class="btn__inner">Save</span>
        </button>
​
        <button class="btn btn--small" type="submit" class="btn btn-group__btn btn--loader js-loader js-submit-btn" value='validate' name='action'>
            <span class="btn__inner">Validate</span>
        </button>
​
        <button class="btn btn--small" type="submit" class="btn btn-group__btn btn--loader js-loader js-submit-btn" value='override' name='action' id='override_button'>
            <span class="btn__inner">Override</span>
        </button>
​
        <button class="btn btn--small" type="submit" value="close this window" onclick="self.close()">
            <span class="btn__inner">Exit</span>
        </button>
    </form>
​
​
    <br>
    <br>
    <br>
</div>
    </div>
        </div>
            </div>
​
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        var override_button = document.getElementById("override_button")
        override_button.addEventListener("click", function()
        {var checkboxes = document.getElementsByName("override-checkbox");
            var reference  = "{{ contributor_details['reference'] }}";
            var period     = "{{ contributor_details['period'] }}";
            var survey     = "{{ contributor_details['survey'] }}";
            var user       = '{{ user }}';
            var checkboxes_checked = []
            var checkboxes_output  = {}
            for(var i = 0; i < checkboxes.length; i++) {
                if(checkboxes[i].checked) {
                    var checkbox = {}
                    checkbox["validationoutputid"] = checkboxes[i].id
                    checkbox["override"]           = true
                    checkbox["user"]               = user
                    checkboxes_checked.push(checkbox)
                } else {
                    var checkbox = {}
                    checkbox["validationoutputid"] = checkboxes[i].id
                    checkbox["override"]           = false
                    checkbox["user"]               = user
                    checkboxes_checked.push(checkbox)
                }
            }
            checkboxes_output['reference']          = reference
            checkboxes_output['period']             = period
            checkboxes_output['survey']             = survey
            checkboxes_output['validation_outputs'] = checkboxes_checked
            var js_data = JSON.stringify(checkboxes_output)
            $.ajax({
               url: 'override-validations',
               type: 'post',
               contentType: 'application/json',
               dataType: 'json',
               data: js_data,
               async: false
            })
           window.location.reload()})
    </script>
​
    <script>
        function select_all(source) {
            checkboxes = document.getElementsByName("override-checkbox");
            for(var i=0; i < checkboxes.length; i++){
                checkboxes[i].checked = source.checked;
            }
        }
    </script>
​
    <script>
        var statusMessage = "{{ status_message }}"
        console.log(statusMessage)
        if (statusMessage == "&#34;&#34;") {
        } else {
            alert(statusMessage);
        }
    </script>
​
{% endblock content %}