{% extends "base.html" %}

{% block title %}Contributor Details{% endblock title %}



{% block page_header %}
	<h1 class="jupiter main_heading">Contributor Details</h1>
	<h2 class="neptune sub_heading">Take-On Team</h2>


{% endblock page_header %}



{% block content %}
		<div>
			<div class="wrapper">
				<div class="group">
					<div class="col-12">
						<h3 class="saturn sml-margin buttom_10_extra_space">Respondents</h3>
						   <div id="lockedInfo" style="display:none">
                            <div class="panel panel--info" >
                            <div class="panel__header">
                                <div class="u-fs-r--b">Form locked</div>
                            </div>
                            <div class="panel__body">
                                <div>This form is currently checked out by {{ locked }}. Editing will be disabled until it has been checked back in. Also you shouldn't be seeing this, stop trying to break things :-(</div>
                            </div>

                        </div>
                            <br>
                        </div>
                        <h2>Viewing form for Respondent {{ ruref }} for survey {{ survey }} in period {{ period }}</h2>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
			<section>
				<div class="wrapper">
				<div class="group">
					<div class="col-12">
						<div class="tab">
						  <button class="btn" onclick="openTab(event, 'Details')">Details</button>
                            <button class="btn" onclick="openTab(event, 'Form2')">Form</button>
						</div>

						<!-- Tab content -->
						<div id="Details" class="tabcontent">
							<br>
							<div style="overflow:auto">
							<table id="ResultsTable" class="table table__dense">
								<tbody>
								<!-- for each record, render each data value -->
								{% for record in contributor_details.keys() %}
								<tr class="table--row">
									<!-- Use .values() method to get values from each row dict -->
									<td class="table--cell">{{ record }}</td> <td class="table--cell">{{ contributor_details[record] }}</td>
								</tr>
								{% endfor %}
							</tbody>
							</table>
							</div>
						</div>

                        <div id="Form2" class="tabcontent">
						  <br>

							<form method="post">
                              {% for datum in data %}
								<div>
                              {{ datum["displayQuestionNumber"] }}<strong> {{ datum["displayText"] }}</strong> <br>
							  <input name="questionCode:{{ datum['questionCode'] }}|instance:0" value="{{ responses[datum['questionCode']]['response'] }}" type="number">
                               <span style="color:red">{{ datum["questionCode"] }}</span>
								<br>
								<br>
							</div>
                              {% endfor %}
							<button class="btn" type="submit" id="saveFormButton" value="saveForm" name="action">Save form</button>
							<!--<button class="btn" type="submit" id="saveAndValidateButton" value="saveAndValidate" name="action">Save and validate</button>-->
							<button class="btn" type="submit" id="exitButton" value="exitForm" name="action">Exit</button>
							</form>
						</div>
					</div>
				</div>
				</div>
				</section>

	<script>
	function openTab(evt, details) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(details).style.display = "block";
    evt.currentTarget.className += " active";
	}
	</script>

	<script>
		var isLockedBy = "{{ locked }}"
		if (isLockedBy != ""){
			document.getElementById("saveFormButton").disabled = true;
			document.getElementById("saveFormButton").style.color = "grey";
			var bar = document.getElementById("lockedInfo");
			bar.style.display = "block";
			}
	</script>

	<script>
		document.getElementById("Form2").style.display = "block"
	</script>

	<script>
		var statusMessage = "{{ status_message }}"
		var statusAsObject = JSON.parse(statusMessage)
		if (Object.keys(statusAsObject) === 0)
			{}
		else if (statusAsObject.hasOwnProperty("success")){
			window.alert(statusAsObject.success);
		}
		else if (statusAsObject.hasOwnProperty("error")){
			window.alert(statusAsObject.error)
		}
	</script>

	<br>
	<br>
	<br>
	<br>

{% endblock content %}
