{% extends "base.html" %}

{% block title %}Contributor Details{% endblock title %}


{% block page_header %}

    <h1 class="jupiter header__title">Take-On</h1>


{% endblock page_header %}


{% block content %}


    <div id="lockedInfo" style="display:none">
        <div class="panel panel--error panel--simple">
            <div class="panel__error">
                <div class="u-fs-r--b">Form locked</div>
            </div>
            <div class="panel__body">
                <div>This form is currently checked out by {{ locked }}. Editing will be disabled until it has been
                    checked
                    back in.
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel--info panel--simple">
        <div class="panel__body">

            <h1>{{ contributor_details['enterpriseName'] }}</h1>
            <p><b>Reference:</b> {{ contributor_details['reference'] }}
                <b>Period:</b> {{ contributor_details['period'] }}
                <b>Survey:</b> {{ contributor_details['survey'] }}
                <b>Status:</b> {{ contributor_details['status'] }}
                <b>Receipt Date:</b> {{ contributor_details['receiptDate'] }}
                <b>Last Updated By:</b> {{ contributor_details['lastUpdatedBy'] }}
                <b>Last Updated Date:</b> {{ contributor_details['lastUpdatedDate'] }} </p>
        </div>
    </div>

    <div class="mainContent">
    <br>
        <form method="post" id="save">
            <button class="btn" type="submit" id="editFormButton" value="saveForm" name="action" onclick="submitForm()">
                <span class="btn__inner">Edit</span></button>
        </form>
        <br>

        <nav class="section-nav" id="" aria-label="Section menu">
            <ul class="section-nav__list" aria-label="">
                <li class="section-nav__item ">
                    <a class="section-nav__link" onclick="openTab(event, 'SectionA')">Section A</a>
                </li>
                <li class="section-nav__item ">
                    <a class="section-nav__link" onclick="openTab(event, 'SectionB')">Section B</a>
                </li>
                <li class="section-nav__item ">
                    <a class="section-nav__link" onclick="openTab(event, 'SectionC')">Section C</a>
                </li>
                <li class="section-nav__item ">
                    <a class="section-nav__link" onclick="openTab(event, 'SectionD')">Section D</a>
                </li>
            </ul>
        </nav>

        <div id="SectionA" class="tabcontent">
            <br>
            <form method="post">
                {% for datum in data %}
                    <div>
                        {{ datum["displayQuestionNumber"] }}<strong> {{ datum["displayText"] }}</strong>
                        <br>
                        <input name="questionCode:{{ datum['questionCode'] }}|instance:0"
                               value="{{ responses[datum['questionCode']]['response'] }}" type="number"
                               class="input input--text input-type__input">
                        <span style="color:red">{{ datum["questionCode"] }}</span>
                        <br>
                        <br>
                    </div>
                {% endfor %}
                <button class="btn" type="submit" id="saveFormButton" value="saveForm"
                        name="action"><span class="btn__inner">Save form</span>
                </button>
                <!--<button class="btn" type="submit" id="saveAndValidateButton" value="saveAndValidate" name="action">Save and validate</button>-->
                <button class="btn" type="submit" id="exitButton" value="exitForm" name="action">
                    <span class="btn__inner">Exit</span>
                </button>
            </form>
        </div>


    </div>

    <div class="wrapper">
        <div class="response-split">
            <!-- Accordion -->
            <!--
            <h3>Validation</h3>
            {% for output in validation %}
            {% if output["validationFormEntity"]["severity"] == "E" %}
                <button class="accordion-legacy" style="background-color:#D0021B"><strong>
                {{ output["validationFormEntity"]["questionCode"] }}</strong>
                      <strong>{{ output["validationFormEntity"]["validationRuleEntity"]["description"] }}</strong>
                </button>
                <div class="panel-legacy">
                    <b>Validation ID: {{ output["validationFormEntity"]["validationid"] }}</b><br>
                    <b>Formula: {{ output["formula"] }}</b><br>
                    <br>
                    <b>Overridden by: </b>{{ contributor_details['lastUpdatedBy'] }}<br>
                    <b>Overridden date:</b>{{ contributor_details['lastUpdatedDate'] }}
                </div>
            {% else %}
                <button class="accordion-legacy" style="background-color:#FE781F"><strong>
                {{ output["validationFormEntity"]["questionCode"] }}</strong>
                      <strong>{{ output["validationFormEntity"]["validationRuleEntity"]["description"] }}</strong>
                </button>
                <div class="panel-legacy">
                    <b>Validation ID: {{ output["validationFormEntity"]["validationid"] }}</b><br>
                    <b>Formula: {{ output["formula"] }}</b><br>
                    <br>
                    <b>Overridden by: </b>{{ contributor_details['lastUpdatedBy'] }}<br>
                    <b>Overridden date:</b>{{ contributor_details['lastUpdatedDate'] }}
                </div>
            {% endif %}
            {% endfor %}
               -->
        </div>
    </div>

    <script>
        function openTab(evt, details) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(details).style.display = "block";
            evt.currentTarget.className += " active";
        }


    </script>

    <script>
        var isLockedBy = "{{ locked }}"
        if (isLockedBy != "") {
            document.getElementById("saveFormButton").disabled = true;
            document.getElementById("saveFormButton").style.color = "grey";
            var bar = document.getElementById("lockedInfo");
            bar.style.display = "block";
        }
        document.getElementById("SectionA").style.display = "block"
    </script>
    <script>
        var acc = document.getElementsByClassName("accordion-legacy");
        var i;
        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }


    </script>


    <script>
        var statusMessage = "{{ status_message }}"
        console.log(statusMessage)
        if (statusMessage == "&#34;&#34;") {
        } else {
            alert(statusMessage);
        }
    </script>

    <br>
    <br>
    <br>
    <br>

{% endblock content %}
