<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js">

<head>
    {% block head %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>{% block title %}{% endblock title %}</title>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta name="msapplication-config"
              content="https://cdn.ons.gov.uk/sdc/design-system/13.4.5/favicons/browserconfig.json">
        <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico">
        <link rel="icon" type="image/png"
              href="https://cdn.ons.gov.uk/sdc/design-system/13.4.5/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png"
              href="https://cdn.ons.gov.uk/sdc/design-system/13.4.5/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="mask-icon" color="#5bbad5"
              href="https://cdn.ons.gov.uk/sdc/design-system/13.4.5/favicons/safari-pinned-tab.svg">
        <link rel="apple-touch-icon" type="image/png"
              href="https://cdn.ons.gov.uk/sdc/design-system/13.4.5/favicons/apple-touch-icon.png" sizes="180x180">
        <link rel="manifest" href="https://cdn.ons.gov.uk/sdc/design-system/13.4.5/favicons/manifest.json">

        {% block css %}
            <link rel="stylesheet" href="https://cdn.ons.gov.uk/sdc/design-system/14.4.0/css/main.css" media="all"
                  type="text/css">
            <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}" media="all" type="text/css">
        {% endblock css %}

        {% block head_js %}
            <script type="text/javascript"
                    src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/industry-range.js') }}"></script>
        {% endblock head_js %}

    {% endblock head %}

</head>

<body>
<div class="phase-banner mainContent">
    <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap">
        <div class="grid__col col-auto u-flex-no-grow">
            <h3 class="phase-banner__badge">BETA</h3>
        </div>
        <div class="grid__col col-auto u-flex-shrink">
            <p class="phase-banner__desc u-fs-s u-mb-no">This is a work in progress</p>
        </div>
    </div>
</div>

<header class="header header--internal header--thin">
    <div class="header__top mainContent" role="banner">
        <div class="header__grid-top grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
            <div class="grid__col col-auto">
                <a class="header__logo-link" href="/">
                    <img class="header__logo" src="{{ url_for('static',filename='img/ons-logo-white.svg') }}"
                         alt="Office for National Statistics logo">
                </a>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap mainContent">
            <div class="grid__col col-auto u-flex-shrink">
                <div class="header__title">
                    {% block page_header %}
                    {% endblock page_header %}
                </div>
            </div>
        </div>
    </div>
</header>

{% block content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    {% endblock content %}

<footer class="footer " data-ga-element="footer">
    <div class="container">
        <div class="grid">
            <div class="grid__col col-4@m">
                <!-- Footer text here -->
            </div>
            <div class="grid__col u-mt-m u-mb-m">
                <hr class="footer__hr">
            </div>
            <div class="grid__col">
                <div class="footer__license">
                    <img alt="OGL" class="footer__ogl-img"
                         src="{{ url_for('static',filename='img/UKOpenGovernmentLicence-grey.svg') }}">
                    All content is available under the <a
                        href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                        class="footer__link">Open Government Licence v3.0</a>, except where otherwise stated
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

</html>
