/* ////////// Legacy own styles ///////// */

.group-search {
  padding: 0 0px 0 0;
}

.title_extra_space {
  padding-top: 15px;
  padding-bottom: 15px;
}

.end_box_extra_space {
  padding-bottom: 10px;
}

.top_5_extra_space {
  padding-top: 5px;
}

.buttom_5_extra_space {
  padding-bottom: 5px;
}

.top_10_extra_space {
  padding-top: 10px;
}

.buttom_10_extra_space {
  padding-bottom: 10px;
}

.top_15_extra_space {
  padding-top: 15px;
}

.buttom_15_extra_space {
  padding-bottom: 15px;
}

.top_20_extra_space {
  padding-top: 20px;
}

.buttom_20_extra_space {
  padding-bottom: 20px;
}

.top_25_extra_space {
  padding-top: 25px;
}

.buttom_25_extra_space {
  padding-bottom: 25px;
}

.top_30_extra_space {
  padding-top: 30px;
}

.buttom_30_extra_space {
  padding-bottom: 30px;
}

.top_35_extra_space {
  padding-top: 35px;
}

.buttom_35_extra_space {
  padding-bottom: 35px;
}

.top_40_extra_space {
  padding-top: 40px;
}

.buttom_40_extra_space {
  padding-bottom: 40px;
}

.top_50_extra_space {
  padding-top: 50px;
}

.buttom_50_extra_space {
  padding-bottom: 50px;
}

.top_70_extra_space {
  padding-top: 70px;
}

.buttom_70_extra_space {
  padding-bottom: 70px;
}

.top_42_extra_space {
  padding-top: 42px;
}

.dashboard_key_row {
  background-color: #FFFCF9;
}

.dashboard_row {
  background-color: #FFFFFF;
}

.panel--search {
  background: #e4e8eb;
}

.panel--search .panel__header {
  background: #e4e8eb;
}

.panel--simple.panel--search {
  border-color: #e4e8eb;
}

.white_text {
  color: #FFFFFF !important;
}

.grey_text {
  color: #808080;
}

.bold_text {
  font-weight: 700;
}

.align_right {
  text-align: right;
}

.align_left {
  text-align: left;
}

.icon_panel {
  width: 120px;
  height: 120px;
  vertical-align: middle;
}

.page_title_grey {
  background-color: #959595;
  height: auto;
}

.checkbox_validation {
  border: 1px solid #999999;
  border-radius: 2px;
  margin-bottom: 1rem;
  margin-bottom: 0;
  margin-left: o;
  background: #fff;
  height: 26px;
}