@charset "UTF-8";

/* BI Primary search page */

.search-wrapper {
  display: table;
  padding: 9px 0 27px 0;
  padding: 0.5rem 0 1.5rem 0;
  width: 100%;
  max-width: 20rem;
  position: relative;
}

.bi-search-input {
  width: 26rem;
}

.second {
  margin-left: 16px;
}

#range {
  display: none;
  height: 45px;
}

/* BI Edit search */

.edit-search {
  background-color: #E4E8EB;
  padding: 10px 16px 0 16px;
  padding: 0.5556rem 0.8889rem 0 0.8889rem;
}

.edit-search {
  line-height: 1.4;
}

.bi-search-input-edit {
  width: 100%;
}

.edit {
  width: 100% !important;
}

.float {
  display: inline-block;
}

.float-right {
  float: right;
  margin-top: 9px;
}

/* SBR Primary search page */

.label__description {
  padding-bottom: 0.5rem;
}

/* SBR search header */

.search_bar {
  background-color: #E4E8EB;
  padding: 1rem 0 1rem 0;
}

.sbr-search-input {
  width: 100%;
}